main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    min-height: calc(100vh - 68px - 22px); /* Garante altura mínima */
    background-color: rgb(255, 255, 255);
    overflow: auto;
    grid-column: 2;
    grid-row: 2; 
    text-align: center;
}

/* Ajuste para telas menores */
@media screen and (max-width: 490px) {
    main {
        width: 100vw;
        min-height: calc(100vh - 48px - 22px);
        grid-column: 1;
    }
}
